.tracking-info {
  display: none;
  width: 100%;
  justify-items: left;
  padding-left: 1.5rem;
  box-sizing: border-box;
  grid-area: 2 / 1 / span 1 / span 3;
}

.data-item {
  display: flex;
  gap: 0.5rem;
}

.data-item > p {
  margin: 0.5rem 0;
  font-size: 18px;
}

.data-title {
  font-weight: 600;
}
