#add-satellite-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  width: 100%;
  height: 100%;
}

#tooltip {
  background-color: #ffffff3c;
  border: 3px solid #0101013c;
  width: 90%;
  height: fit-content;
  margin-top: 1rem;
}

#tooltip > p {
  text-align: center;
  font-size: 11px;
  padding: 0 0.5rem;
}

#add-sat-input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 90%;
  height: 3rem;
}

#norad-id-input {
  font-family: monospace;
  height: 100%;
  padding: 0;
  font-size: 18px;
  border: none;
  padding: 0 0.5rem;
  width: 75%;
  background-color: rgb(27, 46, 46);
  transition: background-color 0.3s;
}

#norad-id-input:focus {
  outline: none;
  background-color: rgb(36, 59, 59);
}

#add-satellite-button {
  font-family: monospace;
  height: 100%;
  padding: 0;
  font-size: 18px;
  border: none;
  padding: 0 0.5rem;
  width: 20%;
  color: white;
  background-color: rgb(27, 46, 46);
  position: relative;
  &:not(.disable):hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: #ffffff3c;
  }
}

#add-satellite-button:disabled:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff3c;
}

#norad-id-messages {
  width: 90%;
}

#norad-id-messages > p {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

#norad-id-messages > p::first-letter {
  text-transform: capitalize;
}

#norad-id-input-error {
  color: red;
}

#norad-id-success {
  color: green;
}
