#app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#map-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: #3d3d3d;
}

#data {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 12%;
  gap: 0.5rem;
}
