html {
  overflow-y: scroll;
}

body {
  background-image: url('../img/space.png');
  margin: 0;
  padding: 7vh 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  text-align: center;
  gap: 4rem;
  margin: 0 auto;
  background-color: rgb(27, 46, 46);
  padding: 8vh 3vw;
}